#root{
overflow-y: hidden;
overflow-x: hidden;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.map{
  position: absolute;
  top: 250px;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
}
.title{
  text-align: center;
  font-weight: bolder;
  margin-top: 20px;
  margin-bottom: 20px;
}
.search{
  display: flex;
  width: 100%;
  height: 80px;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  background-color: greenyellow;
  overflow-y: hidden;
  overflow-x: hidden;
}
.labels{
  display: block;
  margin-left: 100px;
  margin-right: 10px;

}
.texts{
  border-radius: 25px;
  border: 2px solid #609;
  padding: 7px;
  width: 150px; 
}
.deneme{
  margin-top: 50px;
  font-weight: bolder;
}
.btnpos{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
.read-the-docs {
  color: #888;
}
